$black: #000000;
$white: #FFFFFF;
$purple: #CBB3FF;
$silver: #F2F5FF;
$gray: #A3A3A3;



$flex-row: row;
$flex-column: column;
$flex-row-reverse: row-reverse;
$flex-column-reverse: column-reverse;
$flex-center: center;
$flex-space-between: space-between;
$flex-start: flex-start;
$flex-end: flex-end;


$primary: primary;
$small: small;

$breakpoint-sm: 576px;
$breakpoint-md: 810px;
$breakpoint-lg: 1080px;
$breakpoint-xl: 1440px;