@use"../base/mixin" as mixin;
@use '../base/variables' as var;

.header {
    width: 100%;
    @include mixin.layout-flex(var.$flex-row, var.$flex-space-between, var.$flex-center);
    padding: 40px 20px;

    &__logo {
        @include mixin.layout-flex(var.$flex-row, var.$flex-start, var.$flex-center, 10px);

        img {
            max-width: 34px;
            max-height: 34px;
            object-fit: cover;
        }

        h3 {
            font-weight: 700;
        }
    }

    &__nav {
        &--menu {
            padding: 18px 13px 19px 13px;
            @include mixin.layout-flex(var.$flex-column, var.$flex-center, var.$flex-center, 7px);
            background-color: var.$purple;
            border-radius: 8px;

            div {
                border: 1px solid var.$black;
                width: 24px;
                height: 3px;
                background-color: var.$black;
                border-radius: 120.5px;
            }
        }

        ul {
            display: none;
        }

    }
}

@media only screen and (min-width: 810px) {}

@media only screen and (min-width: 1080px) {
    .header {
        width: 100%;

        &__nav {
            &--menu {
                display: none;
            }

            ul {
                list-style-type: none;
                @include mixin.layout-flex(var.$flex-row, var.$flex-start, var.$flex-center, 32px);
            }

            a {
                @include mixin.layout-flex(var.$flex-row, var.$flex-center, var.$flex-center);
                font-family: "Poppins", serif;
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                color: var.$black;

                @include mixin.respond-to(md) {
                    @include mixin.layout-flex(var.$flex-row, var.$flex-start, var.$flex-center);
                }

                &:hover {
                    .button {
                        &.button--arrow {
                            .button--main {
                                transform: translate(125%, -100%);
                                opacity: 0;
                            }

                            .button--sub {
                                transform: translate(0%, 0%);
                                opacity: 1;
                            }
                        }
                    }
                }

                .button {
                    font-family: "Plus Jakarta Sans", serif;
                    @include mixin.button(var.$primary, var.$purple, var.$black, 15px 40px);

                    &.button--arrow {
                        position: relative;
                        @include mixin.layout-flex(var.$flex-row, var.$flex-center, var.$flex-center);
                        // padding: 15px 15px;
                        width: 54px;
                        height: 54px;
                        padding: 0;


                        img {
                            position: absolute;
                            width: 24px;
                            height: 24px;
                        }

                        .button--main {
                            opacity: 1;
                            transition: transform 0.3s ease, opacity 0.1s ease;

                        }

                        .button--sub {
                            transform: translate(-125%, 100%);
                            opacity: 0;
                            transition: transform 0.3s ease, opacity 0.1s ease;

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        max-width: 1370px;
        margin: 0 auto;
        @include mixin.layout-flex(var.$flex-row, var.$flex-space-between, var.$flex-center);
    }
}