$blue: #5956E9;
$blue1: #5851EA;
$gray: #6C6C72;
$black: #232233;
$white: #FFFFFF;

$flex-row: row;
$flex-column: column;
$flex-row-reverse: row-reverse;
$flex-column-reverse: column-reverse;
$flex-center: center;
$flex-space-between: space-between;
$flex-start: flex-start;
$flex-end: flex-end;